body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  padding: 0;
  margin: 0;
  background-color: black;
}

nav ul {
  padding: 20px;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #ffde59;
  transition: all 100ms ease-in-out;
}

.logo {
  width: 100px;
  height: auto;
  border: none;
}

section {
  text-align: center;
  background: url(images/background-pic1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 0;
  height: 500px;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.animate__fadeInDown {
  opacity: 0;
  animation: fadeInDown 1s ease-in-out forwards;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.container-1 {
  padding: 20px;
  background: #f2f2f2;
}

.container-1 img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.container-1 img:hover {
  transform: scale(1.1);
}

.container-1 p {
  font-size: 12px;
}

.container-2 {
  padding: 20px;
  background: #f2f2f2;
}

.container-2 img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.container-2 img:hover {
  transform: scale(1.1);
}

.container-2 p {
  font-size: 12px;
}

.animate__backInUp {
  opacity: 0;
  animation: backInUp 1s ease-in-out forwards;
}

@keyframes animate__backInUp {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.container-3 {
  background: #1c1c1c;
  color: white;
  padding: 20px;
}

.container-3 div {
  font-size: 24px;
}

.container-3 img {
  border-radius: 10%;
  width: 250px;
  height: 150px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.container-3 img:hover {
  transform: scale(1.1);
}

.container-3 p {
  font-size: 15px;
}

.btn-book {
  background: yellow;
  padding: 10px;
  margin: 10px;
}

footer {
  background-color: #ffc93c;
  color: white;
  padding: 20px;
}

.conclusion-text {
  text-align: center;
  font-size: 10px;
}
